.contact {
  padding: 50px;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  background: linear-gradient(135deg, black, #220033);
  align-items: center;
  justify-content: center;
}

.profile {
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 70px;
}

.line {
  border-radius: 500px;
  width: 2px;
  height: 30vh;
  background-color: red;
  animation: neonBlink 1s infinite;
}

.line:hover {

  box-shadow: 5px 0 40px 3px red;
  border-radius: 200px;
}

@keyframes neonBlink {

  0%,
  100% {
    box-shadow: 0 0 10px red;
  }

  50% {
    box-shadow: 0 0 20px red, 0 0 40px rgb(0, 60, 255), 0 0 80px rgb(255, 255, 255);
  }
}




.contact-card {
  display: flex;
  height: 70px;
  width: 270px;
}

.contact-card svg {
  position: absolute;
  display: flex;
  width: 60%;
  height: 100%;
  font-size: 24px;
  font-weight: 700;
  opacity: 1;
  transition: opacity 0.25s;
  z-index: 2;
  cursor: pointer;
}

.contact-card .contact-link1,
.contact-card .contact-link2,
.contact-card .contact-link3,
.contact-card .contact-link4 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  color: whitesmoke;
  font-size: 24px;
  text-decoration: none;
  transition: 0.25s;
  border-radius: 50px;
}

.contact-card svg {
  transform: scale(1);
}

.contact-card .contact-link1:hover {
  background: #f09433;
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
  animation: bounce_613 0.4s linear;
}

.contact-card .contact-link2:hover {
  background-color: #00ccff;
  animation: bounce_613 0.4s linear;
}

.contact-card .contact-link3:hover {
  background-color: #0a66c2;
  animation: bounce_613 0.4s linear;
}

.contact-card .contact-link4:hover {
  background-color: #1a1e22;
  animation: bounce_613 0.4s linear;
}

@keyframes bounce_613 {
  40% {
    transform: scale(1.4);
  }

  60% {
    transform: scale(0.8);
  }

  80% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}





.container {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 20px;

  transition: all 2s ease;
  z-index: 1000;

}

.contact-fome {
  max-width: 550px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.8);
 
  -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  padding: 30px;
  border-radius: 5px;
  display: flex;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.input-class {
  display: flex;
  flex-direction: column;
  margin-right: 4%;
}

.input-class,
.msg {
  width: 48%;
}

.input-class .input,
.msg textarea {
  margin: 10px 0;
  background: transparent;
  border: 0;
  border-bottom: 2px solid #41B5E6;
  padding: 10px;
  color: aqua;
  width: 100%;
}

.input:focus {
  outline: none;
}

.msg textarea {
  height: 200px;
}

::-webkit-input-placeholder {
  color: aquamarine;
}

::-moz-input-placeholder {
  color: aquamarine;
}

.btn {
  background: #ff0000;
  text-align: center;
  padding: 15px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  display: block;
  width: 100%;
  box-shadow: 3px 3px 3px #888888;
}

msg,
.btn:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}

@media screen and (max-width: 600px) {
  .contact-fome {
    flex-direction: column;
  }

  .msg text-area {
    height: 80px;
  }

  .input-class,
  .msg {
    width: 100%;
  }
}